<div class="product_section layout_padding">
   <div class="container">
      <div class="row">
         <div class="col-sm-12">
            <h1 class="product_taital">Produk Kami</h1>
            <!-- <p class="product_text">incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
               nostrud exercitation</p> -->
         </div>
      </div>
      <div class="product_section_2 layout_padding">
         <div class="row">
            <div class="col-lg-3 col-sm-6">
               <div class="product_box">
                  <h4 class="bursh_text">Azarine Chic to Cheek Blush Powder Blush On</h4>
                  <!-- <p class="lorem_text">Azarine Chic to Cheek Blush Powder Blush On</p> -->
                  <img src="images/img-1.png" class="image_1">
                  <div class="btn_main">
                     <div class="buy_bt">
                        <ul>
                           <li><a href="#">Buy Now</a></li>
                        </ul>
                     </div>
                     <h3 class="price_text">Rp.55.250</h3>
                  </div>
               </div>
            </div>
            <div class="col-lg-3 col-sm-6">
               <div class="product_box">
                  <h4 class="bursh_text">MOP - Tender Touch Soft Ombré Powder Blush </h4>
                  <!-- <p class="lorem_text">incididunt ut labore et dolore magna aliqua. Ut enim </p> -->
                  <img src="images/img-2.png" class="image_1">
                  <div class="btn_main">
                     <div class="buy_bt">
                        <ul>
                           <li><a href="#">Buy Now</a></li>
                        </ul>
                     </div>
                     <h3 class="price_text">Rp.95.202</h3>
                  </div>
               </div>
            </div>
            <div class="col-lg-3 col-sm-6">
               <div class="product_box">
                  <h4 class="bursh_text">MAKE OVER Blush On Single 6 g - Blush On </h4>
                  <!-- <p class="lorem_text">incididunt ut labore et dolore magna aliqua. Ut enim </p> -->
                  <img src="images/img-3.png" class="image_1">
                  <div class="btn_main">
                     <div class="buy_bt">
                        <ul>
                           <li><a href="#">Buy Now</a></li>
                        </ul>
                     </div>
                     <h3 class="price_text">Rp.91.300</h3>
                  </div>
               </div>
            </div>
            <div class="col-lg-3 col-sm-6">
               <div class="product_box">
                  <h4 class="bursh_text">SOMETHINC MAKEUP Mademoiselle Soft...</h4>
                  <!-- <p class="lorem_text">incididunt ut labore et dolore magna aliqua. Ut enim </p> -->
                  <img src="images/img-4.png" class="image_1">
                  <div class="btn_main">
                     <div class="buy_bt">
                        <ul>
                           <li><a href="#">Buy Now</a></li>
                        </ul>
                     </div>
                     <h3 class="price_text">Rp.72.999</h3>
                  </div>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-lg-3 col-sm-6">
               <div class="product_box">
                  <h4 class="bursh_text">YSL Eye Shadow Palette </h4>
                  <!-- <p class="lorem_text">incididunt ut labore et dolore magna aliqua. Ut enim </p> -->
                  <img src="images/img-5.png" class="image_1">
                  <div class="btn_main">
                     <div class="buy_bt">
                        <ul>
                           <li><a href="#">Buy Now</a></li>
                        </ul>
                     </div>
                     <h3 class="price_text">Rp.234.000</h3>
                  </div>
               </div>
            </div>
            <div class="col-lg-3 col-sm-6">
               <div class="product_box">
                  <h4 class="bursh_text">CHARLOTTE TILBURY LUXURY...</h4>
                  <!-- <p class="lorem_text">incididunt ut labore et dolore magna aliqua. Ut enim </p> -->
                  <img src="images/img-6.png" class="image_1">
                  <div class="btn_main">
                     <div class="buy_bt">
                        <ul>
                           <li><a href="#">Buy Now</a></li>
                        </ul>
                     </div>
                     <h3 class="price_text">Rp.350.100</h3>
                  </div>
               </div>
            </div>
            <div class="col-lg-3 col-sm-6">
               <div class="product_box">
                  <h4 class="bursh_text">BLP - Eyeshadow Pocket </h4>
                  <!-- <p class="lorem_text">incididunt ut labore et dolore magna aliqua. Ut enim </p> -->
                  <img src="images/img-7.png" class="image_1">
                  <div class="btn_main">
                     <div class="buy_bt">
                        <ul>
                           <li><a href="#">Buy Now</a></li>
                        </ul>
                     </div>
                     <h3 class="price_text">Rp.99.380</h3>
                  </div>
               </div>
            </div>
            <div class="col-lg-3 col-sm-6">
               <div class="product_box">
                  <h4 class="bursh_text">CLEARANCE SALE Holika Holika...</h4>
                  <!-- <p class="lorem_text">incididunt ut labore et dolore magna aliqua. Ut enim </p> -->
                  <img src="images/img-8.png" class="image_1">
                  <div class="btn_main">
                     <div class="buy_bt">
                        <ul>
                           <li><a href="#">Buy Now</a></li>
                        </ul>
                     </div>
                     <h3 class="price_text">Rp.99.000</h3>
                  </div>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-lg-3 col-sm-6">
               <div class="product_box">
                  <h4 class="bursh_text">SOMETHINC The Marionette...</h4>
                  <!-- <p class="lorem_text">incididunt ut labore et dolore magna aliqua. Ut enim </p> -->
                  <img src="images/img-9.png" class="image_1">
                  <div class="btn_main">
                     <div class="buy_bt">
                        <ul>
                           <li><a href="#">Buy Now</a></li>
                        </ul>
                     </div>
                     <h3 class="price_text">Rp.124.740</h3>
                  </div>
               </div>
            </div>
            <div class="col-lg-3 col-sm-6">
               <div class="product_box">
                  <h4 class="bursh_text">Holika Holika Heart Crush Glow Tint...</h4>
                  <!-- <p class="lorem_text">incididunt ut labore et dolore magna aliqua. Ut enim </p> -->
                  <img src="images/img-10.png" class="image_1">
                  <div class="btn_main">
                     <div class="buy_bt">
                        <ul>
                           <li><a href="#">Buy Now</a></li>
                        </ul>
                     </div>
                     <h3 class="price_text">Rp.91.800</h3>
                  </div>
               </div>
            </div>
            <div class="col-lg-3 col-sm-6">
               <div class="product_box">
                  <h4 class="bursh_text">OMG Lip Tint </h4>
                  <!-- <p class="lorem_text">incididunt utlabore et dolore magna aliqua. Ut enim </p> -->
                  <img src="images/img-11.png" class="image_1">
                  <div class="btn_main">
                     <div class="buy_bt">
                        <ul>
                           <li><a href="#">Buy Now</a></li>
                        </ul>
                     </div>
                     <h3 class="price_text">Rp.20.000</h3>
                  </div>
               </div>
            </div>
            <div class="col-lg-3 col-sm-6">
               <div class="product_box">
                  <h4 class="bursh_text">Implora Jelly Tint </h4>
                  <!-- <p class="lorem_text">incididunt ut labore et dolore magna aliqua. Ut enim </p> -->
                  <img src="images/img-12.png" class="image_1">
                  <div class="btn_main">
                     <div class="buy_bt">
                        <ul>
                           <li><a href="#">Buy Now</a></li>
                        </ul>
                     </div>
                     <h3 class="price_text">Rp.19.000</h3>
                  </div>
               </div>
            </div>
         </div>
         <div class="seemore_bt"><a href="/products">See More</a></div>
      </div>
   </div>
</div>